<ul class="flex-column text-white list-group mt-5">
    <li>
        <p><b>Booking Details</b></p>
        <ul class="flex-column">
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/create-booking-details">Create Booking Details</button>
            </li>
        </ul>
    </li>
    <li>
        <p><b>Room Details</b></p>
        <ul class="flex-column">
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/all-room-details">Show All Room Details</button>
            </li>
        </ul>
    </li>
    <li>
        <p><b>Reviews</b></p>
        <ul>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/create-review">write a review</button>
            </li>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/all-reviews">Show All review</button>
            </li>
        </ul>
    </li>
</ul>
