<ul class="flex-column text-white list-group mt-5">
    <li>
        <p><b>Hotel</b></p>
        <ul class="flex-column">
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/create-hotel">Create Hotel</button>
            </li>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/hotel-list">Show All Hotels</button>
            </li>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/hotel-by-id">Show Hotel By Id</button>
            </li>
        </ul>
    </li>
    <li>
        <p><b>Room Details</b></p>
        <ul class="flex-column">
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/create-room-details">Create Room Details</button>
            </li>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/all-room-details">Show All Room Details</button>
            </li>
        </ul>
    </li>
    <li>
        <p><b>Booking Details</b></p>
        <ul>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/all-booking-details">Show All Bookings</button>
            </li>
        </ul>
    </li>

    <li>
        <p><b>Registered Users</b></p>
        <ul>
            <li class="border-bottom">
                <button class="btn btn-primary" routerLink="/users-list">Show All Users</button>
            </li>
        </ul>
    </li>
</ul>