<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 card">
            <div class="container text-center mt-2">
                <img src="../../../assets/hotel.png" alt="">
            </div>
            <h3 class="text-center">Create Booking Details here!!</h3>

            <div class="mb-2">
                <label for="userId" class="form-label">Enter User Id*</label>
                <input name="userId" type="number" class="form-control" [(ngModel)]="userId" id="userId">
            </div>

            <div class="mb-2">
                <label for="hotelId" class="form-label">Enter Hotel Id*</label>
                <input name="hotelId" type="number" class="form-control" [(ngModel)]="hotelId" id="hotelId">
            </div>

            <form [formGroup]="createBookingForm" (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <label for="bookedFrom" class="form-label">Enter Booked From*</label>
                    <input name="bookedFrom" type="text" class="form-control" formControlName="bookedFrom"
                        id="bookedFrom">
                    <small class="text-danger"
                        *ngIf="createBookingForm.get('bookedFrom')?.invalid && createBookingForm.get('bookedFrom')?.touched">
                        *Booking from date is required
                    </small>
                </div>

                <div class="mb-2">
                    <label for="bookedTo" class="form-label">Enter Booked To*</label>
                    <input name="bookedTo" type="text" class="form-control" formControlName="bookedTo" id="bookedTo">
                    <small class="text-danger"
                        *ngIf="createBookingForm.get('bookedTo')?.invalid && createBookingForm.get('bookedTo')?.touched">
                        *Booking To date is required
                    </small>
                </div>

                <div class="mb-2">
                    <label for="noOfAdults" class="form-label">Enter Number of Adults*</label>
                    <input name="noOfAdults" type="number" class="form-control" formControlName="noOfAdults"
                        id="noOfAdults">
                    <small class="text-danger"
                        *ngIf="createBookingForm.get('noOfAdults')?.invalid && createBookingForm.get('noOfAdults')?.touched">
                        *No. of Adults is required
                    </small>
                </div>

                <div class="mb-2">
                    <label for="noOfChildren" class="form-label">Enter Number of Children*</label>
                    <input name="noOfChildren" type="number" class="form-control" formControlName="noOfChildren"
                        id="noOfChildren">
                    <small class="text-danger"
                        *ngIf="createBookingForm.get('noOfChildren')?.invalid && createBookingForm.get('noOfChildren')?.touched">
                        *No. of Children is required
                    </small>
                </div>

                <div class="mb-2">
                    <label for="amount" class="form-label">Enter Booking Amount*</label>
                    <input name="amount" type="number" class="form-control" formControlName="amount" id="amount">
                    <small class="text-danger"
                        *ngIf="createBookingForm.get('amount')?.invalid && createBookingForm.get('amount')?.touched">
                        *Booking Amount is required
                    </small>
                </div>

                <div class="mb-2">
                    <div formGroupName="payment">
                        <label for="paymentStatus" class="form-label">Payment Status:</label>
                        <input name="paymentStatus" type="text" class="form-control" formControlName="paymentStatus"
                            id="paymentStatus">
                        <small class="text-danger"
                            *ngIf="createBookingForm.get('payment.paymentStatus')?.invalid && createBookingForm.get('payment.paymentStatus')?.touched">
                            *Payment Status is required
                        </small>
                    </div>
                </div>


                <div class="container text-center mb-2">
                    <button type="submit" class="btn btn-primary" [disabled]="createBookingForm.invalid">Create</button>
                </div>
            </form>

        </div>
    </div>
</div>